.dropdown {
    position: relative;
    display: inline-block;
}

/* BOTÓN */
.dropdown-button {
    background-color: transparent;
    color: #e5e7eb;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 6px;

    transition: background-color 0.2s ease, color 0.2s ease;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

}

.dropdown-button:hover {
    background-color: #f3f4f6;
    color: #60a5fa;
}

/* BOTÓN ACTIVO CUANDO EL MENÚ ESTÁ ABIERTO */
.dropdown:hover .dropdown-button {
    background-color: #f3f4f6;
    color: #111827;

}

/* MENÚ */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 1px;

    display: none;
    flex-direction: column;
    gap: 8px;

    min-width: 200px;
    padding: 10px;

    background-color: white;
    color: #111827;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    z-index: 1000;
}

/* MOSTRAR MENÚ */
.dropdown:hover .dropdown-menu {
    display: flex;
}

/* ITEMS */
.dropdown-menu>* {
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown-menu>*:hover {
    background-color: #f3f4f6;
}

.dropdown-button img {
    width: 25px;
    height: 25px;
}