.contenedor-principal {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.contenedor-imagen {
    cursor: pointer;
    flex-shrink: 0;
}

.contenedor-imagen img {
    width: 40px;
    height: 40px
}

.contenedor-texto {
    flex: 1;
    text-align: left;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.boton-deshabilitado {
    background-color: #9ca3af;
    color: #6b7280;
    opacity: 0.6;
    cursor: not-allowed;
}

.contenedor-imagen:active {
    transform: scale(0.9);
}