.ordenamiento-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.ordenamiento-container img {
    width: 50px;
    height: 50px;
}


.ordenamiento-introduccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 800px;
}

.ordenamiento-dropdown-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    width: 100%;
}

.menu-col {

    width: 350px;
    height: 100%;
    flex-shrink: 0;
}


.content-col {
    flex: 1;
    width: 100%;
    height: 100%;
}