.button-ordenamiento button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    width: 200px;
    height: 50px;
    margin: 5px;
}


.button-ordenamiento button:hover {
    cursor: pointer;
    background-color: #0056b3;
}

.button-ordenamiento button:active {
    transform: scale(0.95);
}